html {
    padding: 0;
    margin: 0;
    font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
}

body {
    font-size: 15px;
}

div#content {
    width: 500px;
    margin: 20px auto 80px auto;
    padding: 20px 80px 20px 80px;
}